<div class="d-flex flex-column" style="height: 100vh;">
    <app-empty-header></app-empty-header>
    <main class="flex-fill text-center d-flex align-content-center h-100"
          *ngIf="isSent">
        <div class="m-auto">
            <p class="fs-3">Request was sent!</p>
            <p>OK. Now check your e-mail.</p>
        </div>
    </main>

    <main class="flex-fill text-center d-flex align-content-center h-100"
          *ngIf="!isSent">
        <form class="form-signin m-auto" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>

            <app-logotype></app-logotype>

            <h1 class="h3 mb-3 fw-normal">Reset Your Password</h1>

            <label for="email" class="visually-hidden">Email</label>
            <input type="email"
                   id="email"
                   name="email"
                   class="form-control"
                   placeholder="Email"
                   required
                   #email="ngModel"
                   ngModel [email]="true"
                   autofocus
                   [(ngModel)]="form.email"
                   (ngModelChange)="onEmailChange(email)"
                   autocomplete="off"
            >

            <div class="invalid-feedback text-start" role="alert" *ngIf="!isEmailCorrect">
                Please enter correct email.
            </div>

            <button
                    class="w-100 mt-3 btn btn-lg btn-success text-uppercase disabled" id="submit" type="submit">Reset</button>
        </form>
    </main>
    <app-footer></app-footer>
</div>
