<div class="d-flex flex-column" style="height: 100vh;">
    <app-empty-header></app-empty-header>
    <main class="flex-fill text-center d-flex align-content-center h-100">
        <form class="form-signup m-auto" #f="ngForm" (ngSubmit)="onSubmit()">

            <app-logotype></app-logotype>

            <h1 class="h3 mb-3 fw-normal">Sign up</h1>

            <label for="password" class="visually-hidden">Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control mt-3"
                   placeholder="Password*"
                   required
                   [(ngModel)]="form.password"
                   #password=ngModel
                   (ngModelChange)="onPasswordChange(password, confirmation)"
                   autocomplete="off"
            >

            <div class="invalid-feedback text-start" role="alert" *ngIf="!isPasswordCorrect">
                Password length should be 6+ characters.
            </div>

            <label for="passwordConfirm" class="visually-hidden">Confirm Password</label>
            <input type="password"
                   id="passwordConfirm"
                   name="passwordConfirm"
                   class="form-control mt-3"
                   placeholder="Confirm Password*"
                   required
                   [(ngModel)]="form.passwordConfirm"
                   #confirmation=ngModel
                   (ngModelChange)="onPasswordChange(password, confirmation)"
                   autocomplete="off"
            >

            <div class="invalid-feedback text-start" role="alert" *ngIf="!isConfirmationCorrect">
                Passwords should be equal.
            </div>

            <button id="submit" class="w-100 btn btn-lg btn-success text-uppercase disabled" type="submit">Sign Up</button>

        </form>
    </main>
    <app-footer></app-footer>
</div>
